<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Security Camera System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>Faces Detected</h1>
        <div></div>
        <section class="list">
            <h2>Facial detection camera values</h2>
            <p>Last recorded: {{date}}</p>
	    <p>Video duration: {{length}}</p>
            <p>Current light level in room: {{light}}</p>
        </section>
    </body>
</html>